body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.chess-board {
    display: grid;
    grid-template-columns: repeat(9, 50px); /* 8 squares + 1 for numbers */
    grid-template-rows: repeat(9, 50px); /* 8 rows + 1 for bottom number row */
}

.row {
    display: contents; /* Allow the child cells to span the grid */
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid #5f3971;
    height: 50px;
    width: 50px;
}

.cell {
    border: black 1px solid;
    height: 50px;
    width: 50px;
}

.white {
    background-color: #51365f;
}

.black {
    background-color:#ffffff;
}

.number-row {
    display: contents; /* Allow the child cells to span the grid */
}
